$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;

@mixin x-small($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin small($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin medium($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin large($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin x-large($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

#pillNav2 {
  --bs-nav-link-color: var(--bs-white); //inactive font color
  --bs-nav-pills-link-active-color: var(--bs-dark); //active font color
  --bs-nav-pills-link-active-bg: var(--bs-white); //active background
  font-family: "Segoe UI", Arial, sans-serif;
  color: black;
  background-color: black;
  height: auto;
  align-content: center;

  button{
    &:hover{
      color: var(--bs-white);
    }
  }
  a {
    text-decoration: none
  }

  @include x-small($xsBreakpoint){
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 13px;
  }
  @include small($smBreakpoint){
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 15px;
  }
  @include medium($mdBreakpoint){
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 17px;
  }
  @include large($lgBreakpoint){
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 17px;
  }
  @include x-large($xlBreakpoint){
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  margin-top: 30px;

  @media only screen and (max-width: $xsBreakpoint){
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: $xsBreakpoint){
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: $smBreakpoint){
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: $mdBreakpoint){
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }


  @media only screen and (min-width: $lgBreakpoint){
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: $xlBreakpoint){
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  width: 100%;
  display: flex;
  height: 60px;
  font-family: "Segoe UI", Arial, sans-serif;
  margin-left: 20px;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  margin-top: 30px;

  .footer-a{
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}